<nav class="grey darken-3">
    <div class="nav-wrapper container">
        <a href="#!" class="brand-logo center">Mäxchen</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="http://localhost:3001/?spielername={{name}}&id={{id}}">Spielen</a></li>
            <li><a href="/auth/logout">Ausloggen</a></li>
        </ul>
    </div>
</nav>